<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Pizzeria del Mar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container m-0">
            <img src="https://static.vecteezy.com/ti/vettori-gratis/p1/6305447-una-fetta-di-pizza-set-di-4-pezzi-con-salame-cipolle-pomodori-e-olive-illustrazione-un-concetto-per-adesivi-poster-cartoline-vettoriale.jpg" alt="Icona Pizzeria" height="30" class="d-inline-block align-top m-2">
            @Html.ActionLink("Pizzeria del Mar", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Gestione Prodotti", "ListaProdotto", "Prodotto", new { area = "" }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Gestione Utenti", "ListaUtente", "Utente", new { area = "" }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Gestione Ordini", "ListaOrdine", "Ordine", new { area = "" }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Controllo Ordini", "ControlloOrdine", "Ordine", new { area = "" }, new { @class = "nav-link" })
                            </li>
                        }
                        else if (User.IsInRole("User"))
                        {
                        <li class="nav-item">
                            @Html.ActionLink("Carrello", "VisualizzaCarrello", "Home", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        }

                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item"><span class="bi bi-person text-light"></span></li>

                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "nav-link" })

                        </li>
                        <li class="nav-item"><span class="bi bi-person-gear text-light"></span></li>

                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            <div class="container text-center">
                <p>Indirizzo: Via del Mare, 12345 - Città del Mare</p>
                <p>Telefono: +1234567890 | Email: info@pizzeriadelmar.com</p>
                <p>&copy; @DateTime.Now.Year - Pizzeria del Mar</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
