@model IEnumerable<progetto_settimanaleS19L5.Models.Prodotto>

@{
    ViewBag.Title = "Home";
}

<h2 class="text-center">Il nostro menù</h2>
<hr />
<div class="row">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4" style="width: 18rem;">
                    <img src="@item.FotoUrl" class="card-img-top" alt="Immagine del Prodotto" style="height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Nome</h5>
                        <p class="card-text">Prezzo: @item.Prezzo</p>
                        <form method="post" action="@Url.Action("AggiungiAlCarrello", "Home")">
                            @Html.Hidden("id", item.IdProdotto)
                            @Html.Hidden("nome", item.Nome)
                            @Html.Hidden("prezzo", item.Prezzo)
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="form-group mb-3">
                                    <label for="quantita">Quantità:</label>
                                    <input type="number" class="form-control" name="quantita" min="1" value="1" id="quantita">
                                </div>
                                <button type="submit" class="btn btn-sm btn-outline-success mb-3">Aggiungi Al Carrello</button>
                            }
                        </form>
                        @Html.ActionLink("Dettagli", "DettagliProdotto", "Prodotto", new { id = item.IdProdotto }, new { @class = "btn btn-sm btn-outline-secondary" })
                    </div>
                </div>
            </div>
        }
    }
</div>

